
*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
/composeApp/default.backup.realm
/composeApp/default.realm
/composeApp/default.realm.backup-log
/composeApp/default.realm.lock
/composeApp/edulink.db
